body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #001219;
    color: white;
    text-align: center;
}

header {
    background: linear-gradient(#001219,#005f73);
    padding: 80px 20px;
}

h1{
    color:#00d4ff;
    font-size:50px;
}

h2{
    color:#00d4ff;
}

button{
    background:#00b4d8;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    background:#0096c7;
}

form{
    width:90%;
    max-width:600px;
    margin:auto;
}

input,select,textarea{
    width:100%;
    padding:15px;
    margin:10px 0;
    border-radius:8px;
    border:none;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:#012a36;
    margin:15px auto;
    padding:20px;
    max-width:400px;
    border-radius:10px;
}

footer{
    background:black;
    padding:30px;
    margin-top:50px;
}
